<!-- 1. Create form with correct names -->
<!-- 2. Display weekly contribution figure -->
<!-- 3. Add an ID to the form -->
<!-- 4. In JS file, store weekly contribution in a variable -->
<!-- 5. In JS file, select form and store two inputs (name and cost of the purchase) in a variable -->
<!-- 6. In JS file, when submitting form prevent it from refreshing -->
<!-- 6. In JS file, when on-submit event you want to execute (weekly contribution - cost of purchase)
        - Determine how much sum of WC - COP impacts goal timeline
        - Interpolate impact of goal timeline within reasons for saving
        - Represent the sum of WC - COP visually
        -->
<div class="calc-builder card mb-3 mx-auto col-md-4 py-3 shadow-sm rounded p-3 mb-2">
<div class="goals-bg">
    <h1> Your Goal </h1>
    <div  id="goal_name"><h2><%= params[:param1] %></h2></div>
    <div class="mt-2 mb-2" id="goal_reason"> "<%= params[:param3] %>"</div>
    <div id="due_date"> Due-date: <%= params[:param2] %></div>
    <div class="d-flex justify-content-center">
      <div class="wc"> Weekly contribution: $</div>
      <div id= "weekly-contribution"><%= params[:param4]%></div>
    </div>
</div>
  <br>
<form id="purchase_form">
  <label class= "purchase" for="purchase">What do you want to buy?</label><br>
  <input type="text" class="purchase" name="purchase"><br>
  <label class= "cost mt-2" for="cost">How much does it cost?</label><br>
  <input type="text" class="cost" name="cost">
  <div class= "mt-3">
    <input class= "submit" type="submit" value="Worth it?">
  </div>
</form>
<div class= "calc-results col-md-12 mx-auto">
<h2 id= "heading"></h2>
  <div id= "impact"></div>
    <ul id="list">
      <li id="setback"></li>
      <li id="days_reason"></li>
    </ul>
  <p id= "context"></p>
  <p id="visual"><p>
</div>
<%= link_to "Back To Dashboard", dashboard_path, class: "btn btn-dark" %>
</div>

<div id="goal_name" type="hidden" value="<%= params[:param1] %>" />
<div id="due_date" type="hidden" value="<%= params[:param2] %>" />
<div id="goal_reason" type="hidden" value="<%= params[:param3] %>" />

<!-- Create divs for each param -->
<!-- Hide them so users can't see on the browse -->
<!-- Access them with JS so the calculator works -->
