<!-- 1. Create form with correct names -->
<!-- 2. Display weekly contribution figure -->
<!-- 3. Add an ID to the form -->
<!-- 4. In JS file, store weekly contribution in a variable -->
<!-- 5. In JS file, select form and store two inputs (name and cost of the purchase) in a variable -->
<!-- 6. In JS file, when submitting form prevent it from refreshing -->
<!-- 6. In JS file, when on-submit event you want to execute (weekly contribution - cost of purchase)
        - Determine how much sum of WC - COP impacts goal timeline
        - Interpolate impact of goal timeline within reasons for saving
        - Represent the sum of WC - COP visually
        -->
<div class="card mb-3 mx-auto col-md-4 py-3 shadow-sm rounded">
<div> This is your weekly contribution</div>
<div id= "weekly-contribution"> <%= params[:param4] %> </div>
<form id="purchase_form">
  <label for="purchase">What do you want to buy?</label><br>
  <input type="text" class="purchase" name="purchase"><br>
  <label for="cost">How much does it cost?</label><br>
  <input type="text" class="cost" name="cost">
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
<div>
<h3 id= "heading"></h3>
  <div id= "impact"></div>
    <ul id="list">
      <li id="setback"></li>
      <li id="days_reason"></li>
      <li id= "context"></li>
    </ul>
  <p id="visual"><p>
</div>
<%= link_to "Back To Dashboard", dashboard_path, class: "btn btn-dark" %>
</div>

<div id="goal_name" type="hidden" value="<%= params[:param1] %>" />
<div id="due_date" type="hidden" value="<%= params[:param2] %>" />
<div id="goal_reason" type="hidden" value="<%= params[:param3] %>" />

<!-- Create divs for each param -->
<!-- Hide them so users can't see on the browse -->
<!-- Access them with JS so the calculator works -->
