<h1>dashboard</h1>
<div class="card mb-3 mx-auto col-md-4 py-3 shadow-sm rounded">
<%= render "goals_builder" %>
</div>
<div class="card mb-3 mx-auto col-md-4 py-3 shadow-sm rounded">
<h2>Your Goals</h2>
<ul>
  <% @goals.each do |goal|%>
   <li> <%= goal.name %>, <%= goal.reason.description if goal.reason.present? %> - <%= goal.due_date %></li>
  <% end %>
</ul>
</div>
  <div class="card mb-3 mx-auto col-md-4 py-3 shadow-sm rounded">
    <%= render "calculator_builder" %>
  </div>

