<div class="p-3 mb-2 bg-primary">
  <div class="card mb-3 mx-auto col-md-4 py-3 shadow-sm rounded">

  <!-- Form for building a goal -->
  <%= simple_form_for @goal do |f| %>
    <% @goal_names = [] %>

    <!-- Make an array of all current users goal names -->
    <% @goals.each do |goal| %>
      <% if goal.user_id == current_user.id %>
        <% @goal_names << goal.name %>
      <% end %>
    <% end %>
    <select class="form-control select required form-style" id="goal_form" name="goal[name]">
    <option value="" disabled selected>Select your savings/goal</option>

    <!-- Gets all the savings accounts and displays the ones that dont already have a goal attached -->
    <% UpApi.goal_saver(current_user.api_key).each do |key, value|%>
      <% if @goal_names.include? key %>
        <% next %>
      <% else %>
        <option value="<%= key %>" data-balance="<%= value %>"><%= key %></option>
      <% end %>
    <% end %>
    </select>

    <!-- Display the balance of this savings account, javascript for this is located in goal_saver -->
    <div class="balance">
      <p>Your Balance:</p>
      <p class="dollar">$</p>
      <p id="result">0.00</p>
    </div>
    <%= f.input :amount, label: "How much do you want to save?", :input_html => { id: "amount", class: 'form-style' } %>
    <%= f.input :due_date, id:'goal_due_date', as: :string,label: "When do you want to save it by?", :input_html => {  class: 'form-style' }%>

    <!-- Display the weekly contributions for this goal, javascript for this is located in goal_saver -->
      <div class="balance">
        <p>Weekly contribution:</p>
        <p class="dollar">$</p>
        <p id="weeks">0.00</p>
      </div>
      <%= f.simple_fields_for :reason, Reason.new do |p| %>
        <%= p.input :description, :input_html => { class: 'form-style'}, label: "Why are you saving for this goal?", placeholder: ["I need to avoid a mid-life crisis", "I want to be financially secure"].sample%>
      <% end %>
    <%= f.submit "Hell Yeah", class: "btn btn-warning"%>
  <% end %>
  </div>
</div>
